<footer id="footer" style="bottom: 0;width: 100%;height: 184px">
    <div class="ui grid" style="background: #3299bb;color: white;">
        <div class="three column row">
            <div class="column">
                <div class="contact-details ">
                    <h4>Kontakta Oss</h4>
                    <div class="ui link list">
                        <!-- <a class="item" style="color: white;">
                            <div class="content">
                                <div class="description" style="color: white;">
                                    <i class="inverted map marker icon"></i>
                                    <strong>Adress:</strong> <a
                                        href="https://www.google.se/maps/place/Nya+Boulevarden+10,+291+31+Kristianstad/@56.0313331,14.1538666,17z/data=!3m1!4b1!4m2!3m1!1s0x4654034f7f96cba9:0xef1ead57f709a942!6m1!1e1?hl=en"
                                        target="_blank" style="color: white;">Nya Boulevarden 10, 291 31 Kristianstad</a>
                                </div>
                            </div>
                        </a> -->
                        <a class="item" style="color: white;">
                            <div class="content">
                                <div class="description" style="color: white;">
                                    <i class="inverted mail outline icon"></i> <strong>Post Adress: BOX 21, 291 21, Kristianstad</strong><a href="#"></a>
                                </div>
                            </div>
                        </a>
                        <a class="item" style="color: white;">
                            <div class="content">
                                <div class="description" style="color: white;">
                                    <i class="inverted call icon"></i> <strong>Telefon:</strong> <a href="tel:+46-10-516-4210">(010) 516 42 10</a>
                                </div>
                            </div>
                        </a>
                        <a class="item" style="color: white;">
                            <div class="content">
                                <div class="description" style="color: white;">
                                    <i class="inverted mail outline icon"></i> <strong>E-post:</strong> <a href="mailto: info@c4tolk.se" style="color: white;">info@c4tolk.se</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="heading heading-border heading-bottom-double-border ">
                    <h4>Följ Oss</h4>
                </div>
                <div class="ui divider"></div>
                <div class="ui horizontal list">
                    <div class="item"><a href="https://www.facebook.com/Tolktjanst" target="_blank" title="Facebook"><i
                            class="circular inverted facebook icon"></i></a></div>
                    <div class="item"><a href="https://twitter.com/SarvariAb" target="_blank" title="Twitter"><i
                            class="circular inverted twitter icon"></i></a></div>
                    <div class="item"><a href="https://plus.google.com/u/0/+nematsarvariSTÖ/posts" target="_blank"
                                         title="GooglePlus"><i class="circular inverted google plus icon"></i></a></div>
                    <div class="item"><a
                            href="https://www.linkedin.com/profile/view?id=293568347&trk=nav_responsive_tab_profile_pic"
                            target="_blank" title="Linkedin"><i class="circular inverted linkedin icon"></i></a></div>
                </div>
            </div>
            <div class="column">
                <div class="contact-details center">
                    <a href="https://www.raddabarnen.se/foretag/foretagsvan/foretagsvanner/" target="_blank">
                        <img alt="arddabarnen" src="img/icons/barnen.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style="background: #2b89a6;">
        <div class="ui basic segment">
            <div class="row">
                <div class="col-md-7" style="color: white;">
                    <p>© 2016 | <a href="#" style="color: white;">c4tolk.com </a> | Alla rättigheter är reserverade.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
