.ui.top.attached.tabular.menu {
    text-align: left;
}
#customer, #comment {
    display: none;
}
.ui.tabular.menu .item.name, .ui.tabular.menu .item.logout {
    float: right;
    color: rgba(0,0,0,.8) !important;
}

.ui.top.attached.menu {
    border-radius: .2857rem;
}

.ui.form label {
    display: block;
    margin: 0 0 .2857rem;
    color: rgba(0,0,0,.8);
    font-size: .9285em;
    font-weight: 700;
    text-transform: none;
}
.ui.modal .actions {
    text-align: center;
}
.ui.collapsing.table {
    width: 100%;
}

.row.custom {
    margin: 0;
}

.ui.top.attached.tabular.menu>.left.menu {
    margin-left: 1%;
}
.ui.top.attached.tabular.menu>.left.menu>.item {
    border-radius:2px;
}

.ui.inverted.menu .active.item {
  color: #ff9900 !important;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.58);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.58);
}

.ui.top.attached.tabular.menu>.left.menu>.item:hover:not(.active) {
    color: #ff9900 !important;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.58);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.58);
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
  color: #424242 !important;
}
