<div class="container">
    <div class="row wrap_9 wrap_4 wrap_10">
        <div class="grid_12">
            <div class="header_1 wrap_3 color_3">
                Följ oss
            </div>
            <div class="box_3">
                <ul class="list_1">
                    <li><a target="_blank" class="fa fa-twitter" href="https://twitter.com/SarvariAb"></a></li>
                    <li><a target="_blank" class="fa fa-facebook" href="https://www.facebook.com/Tolktjanst"></a></li>
                    <li><a target="_blank" class="fa fa-google-plus" href="https://plus.google.com/u/0/+nematsarvariSTÖ/posts"></a></li>
                    <li><a target="_blank" class="fa fa-linkedin" href="https://www.linkedin.com/profile/view?id=293568347&trk=nav_responsive_tab_profile_pic"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>